<!DOCTYPE html>
<html ng-app="littleSketcher">
<body style='font-family: sans-serif'>
    
    <div class="row" ng-controller=drawingListCtrl>
        
        <h1>Drawings</h1>
        <button ng-click="addDrawing()">Add Drawing</button>
        
        <ul class="drawings">
            <li class="note" ng-hide="drawings[0]">No drawings yet, get drawing!</li>
            <li ng-repeat="drawing in drawings" class="drawing">
                <span>{{ drawing.name }}</span><button ng-click="remove(drawing)">Remove</button>
            </li>
        </ul>
        
    </div>
    
    <!-- Fake backend -->
    <script src="/support/sinon.js"></script>
    <script src="/support/fake-server.js"></script>
    <script>
      createFakeServer();
    </script>
    
    
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="main.js"></script>
</body>
</html>